/*Fichier contenant les éléments de css généraux*/
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #EFF2F6;
}

.navbar{
    height: 75px;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    border-bottom: solid 1px grey;
    padding-left: 10em;
    overflow-x: hidden;
}

.navbar-logo{
    text-decoration: none;
    color: white;
    font-size: 16pt;
    font-weight: bolder;
    margin-right: 20px;   
}

.navbar-menu{
    list-style:none;
    display: flex;
    flex-direction: row;
}

.navbar-menu li{
    margin: 0 20px;
}

.navbar-menu li a{
    text-decoration: none;
    color: #EFF2F6;
}