body {
    overflow-x: hidden;
}

.desc-section {
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: black;
    color: white;
    display: flex;
}

.desc-container {
    max-width: 500px;
    padding-left: 10em;
    display: flex;
    flex-direction: column;
}

.desc-container h1 {
    padding-bottom: 0.5em;
}

.desc-container p {
    text-align: justify;
    overflow-wrap: normal;
}

.container {
    width: 100vw;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10em;
    margin-right: 10em;
    width: 100%;
}

.filter-container-title-block {
    display: flex;
    width: 50%;
    flex-direction: row;
}

.filter-container-title-block div{
    display: flex;
    flex-direction: column;
}

.filter-container-title-block input {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: underline;
}

.filter-container-sort-block {
    display: flex;
    width: 50%;
    flex-direction: row-reverse;
}

.filter-container-sort-block div{
    padding: 0.5em;
}

.checkbox-filter-block {
    display: flex;
    flex-direction: column;
}

.articles-container {
    padding: 1em;
    width: 50%;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

fieldset {
    border: none;
}

input[type="checkbox"] {
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.checkbox-filter {
    display: block;
    width: 20px !important;
    height: 20px !important;
    background-color: white;
    cursor: pointer;
}


@media all and (width < 850px) {

    .desc-section {
        background-color: #EFF2F6;
        justify-content: center;
        padding: 0;
    }

    .desc-container {
        align-items: center;
        justify-content: center;
        color: black;
        padding: 3em !important;
    }

    .desc-container p {
        text-align: center;
    }

    .filter-container-title-block div{
        margin-left: 2em;
    }
    
    .filter-container-sort-block div{
        margin-right: 2em;
    }

}